body{
    background: #f9f9f9;

}
.header, .footer{
    margin-bottom: 15px;
}
.content{
    background:white;
    border-radius: 5px;
    padding:0;
    -webkit-box-shadow: 6px 5px 13px 9px rgba(0,0,0,0.14);
    -moz-box-shadow: 6px 5px 13px 9px rgba(0,0,0,0.14);
    box-shadow: 6px 5px 13px 9px rgba(0,0,0,0.14);
}
.page-title{
    background: cornflowerblue;
    font-size: 24px;
    color:white;
    margin : 0;
    margin-bottom: 12px;
    padding:6px 12px;

}
.page-content{

    padding:12px!important;
}
p{
    padding: 15px;
}
.product-title{
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
}
.products-list{
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-gap: 5px;
}
.card{
    margin: 10px;
}
.price{
    background: crimson;
    display: inline;
    color:white;
    border: solid 1px black;
    padding: 3px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}
.add-to-cart{
    position:absolute;
    right: 0;
    top: 0;
}
.auth-form{
    max-width: 350px;
    min-width:250px;
    width: 100%;
    padding:25px;
    margin:20px auto;
    /*border:solid 1px;*/
    /*border-radius: 3px;*/


}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}
.auth-form input{
    padding: 6px;
    font-size:19px;
}
.btn{
    margin:3px;
}


/*html {*/
/*    min-height: 100%;*/
/*    background: linear-gradient(#9d9181, #9e866c);*/
/*}*/

/*body {*/
/*    background-color: transparent;*/
/*}*/

.card-profile {
    width: 340px;
    background-color: #e6e5e1;
    border-radius: 0;
    border: 0;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}
.card-profile .card-img-top {
    border-radius: 0;
}
.card-profile .card-title {
    margin-bottom: 50px;
}
.card-profile .card-title small {
    display: block;
    font-size: .6em;
    margin-top: .2em;
}
.card-profile .card-links {
    margin-bottom: 25px;
}
.card-profile .card-links .fa {
    margin: 0 1em;
    font-size: 1.6em;
}
.card-profile .card-links .fa:focus, .card-profile .card-links .fa:hover {
    text-decoration: none;
}
.card-profile .card-links .fa.fa-dribbble {
    color: #ea4b89;
    font-weight: bold;
}
.card-profile .card-links .fa.fa-dribbble:hover {
    color: #e51d6b;
}
.card-profile .card-links .fa.fa-twitter {
    color: #68aade;
}
.card-profile .card-links .fa.fa-twitter:hover {
    color: #3e92d5;
}
.card-profile .card-links .fa.fa-facebook {
    color: #3b5999;
}
.card-profile .card-links .fa.fa-facebook:hover {
    color: #2d4474;
}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 4px white;
    position:absolute;
    z-index:5;
    top:5px;
    left:100px;
    background: #3e92d5;
    background: rgb(2,0,36);
    color:white;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
}
.profile-image .letter{
    font-size: 55px;
    padding: 0;
    margin: 25px 0 0 0;
}
